apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: devopsdb
spec:
  serviceName: dbsvc          # ✅ REQUIRED
  replicas: 2
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      imagePullSecrets:
        - name: dockerhub
      containers:
        - name: devops-container
          image: kartheek0976/priya:dbimage
          ports:
            - containerPort: 3306
---
apiVersion: v1
kind: Service
metadata:
  name: dbsvc
spec:
  clusterIP: None              # ✅ correct
  selector:
    app: db
  ports:
    - port: 3306
      targetPort: 3306
